<h3 class='center-b'>Add ingredient</h3>
<%= link_to 'Back', recipe_path(params[:recipe_id]) %>

<div class='edit-form-container'>
  <%= form_with url: recipe_recipe_foods_path, scope: :recipe_food do |form| %>
    <div class='field'>
      <%= form.label :food, class:"form-label" %><br>
      <%= form.select :food_id, current_user.foods.collect {|food| [food.name, food.id]},{ include_blank: true}, required: true, class: 'title-input' %>
    </div>

    <div class='field'>
      <%= form.label :quantity, class:"form-label" %><br>
      <%= form.number_field :quantity, required: true, placeholder: '1',  min: 1, class: 'title-input' %>
    </div>

    <div class="actions">
      <%= form.submit "Add", class: "in-out" %>
    </div>
  <% end %>
</div>